body{
    background-color: rgb(140,195,234);
    /* background: linear-gradient(#8CC6EC, #9599E2); */
    background-image: linear-gradient(to bottom right, #8bc0ec, #9599e2);
}
form{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 500px;
}
.DivLeft{
    margin-top: 10%;
    background-color: #FFFFFF;
    height: 100%;
    font-size: 1.3rem;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;;
}
.DivRight{
    margin-top: 10%;
    height: 100%;
    background-color: rgb(79,84,212);
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}
.Left, .Right{
    border: none;
    margin: 5%;
}
legend{
    text-decoration-style: none;
}
.Left legend{
    color: rgb(43,112,171);
    font-size: 1.3rem;
    height: 80%;
    padding-top: 10%;
}
.Right legend{
    color: rgb(249,245,255);
    font-size: 1.3rem;
    padding-top: 10%;
}
p select, .Option{
    width: 100%;
    border: none;
    background-color: #FFFFFF;
    border-bottom: 2px solid rgb(177, 177, 168);
    font-size: 1em;
    color: rgb(160, 153, 153);
}
.Business::placeholder, .FirstName::placeholder, .LastName::placeholder, .Company::placeholder, .Employees::placeholder, .Email::placeholder{
    color: rgb(177, 177, 168);
}
.Business, .FirstName, .LastName, .Company{
    width: 100%;
    border: none;
    background-color: #FFFFFF;
    border-bottom: 2px solid rgb(177, 177, 168);
    font-size: 1em;
    color: rgb(177, 177, 168);
}
.FirstName, .Business{
    width: 40%;
}
.Employees, .LastName{
    display: inline-block;
    width: 50%;
}
.LastName{
    width: 57%;
}
.AcceptPara{
    width: 60%;
}
.AcceptPara .LabelAccept{
    color: white;
}
/* Seconde partie du formulaire*/
.Right > *{
    margin: 5% 0% 5% 0%; 
}
.Additional::placeholder, .Street::placeholder, .Zipe::placeholder, .number::placeholder, .tel::placeholder, .Email::placeholder{
    color: white;
}
.AcceptPara:nth-child(0n+2){
    color: rgb(255, 255, 255);
}
.Street, .Additional, .Zipe, .Place, .number, .tel, .Email{
    border: none;
    background-color: rgb(79,84,212);;
    border-bottom: 2px solid rgb(177, 177, 168);
    color: white;
}
.Street{
    width: 100%;
}
.AcceptPara{
    color: rgb(84,101,131);
}
.Email{
    width: 100%;
}
.Place{
    width: 40%;
}
.Right legend>*{
    border: none;
    background-color: rgb(79,84,212);;
    border-bottom: 2px solid rgb(249,245,255);
    color: rgb(255, 255, 255);
}
a{
    color: rgb(255, 255, 255);
}
#accept{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    border: 7px solid white;
    border-radius: 50%;
}
#accept:focus {
    border: 2px solid white;
}
#accept:checked {
    border: 2px solid white;
    border-radius: 70%;
    padding: 5px;
}
button{
    border: 3px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
}