*{
    margin: 0;padding: 0;
}
body{
    background-color: rgb(140,195,234);
    /* La Définition d'un fond dégrade à 90 dégré */
    background-image: linear-gradient(90deg, #8bc0ec, rgb(149,153,226));
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
form{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50% 50%;
    height: auto;
}
.DivLeft{
    margin-top: 10%;
    background-color: #FFFFFF;
    height: 100%;
    font-size: 1.3rem;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;;
}
.DivRight{
    margin-top: 10%;
    height: 100%;
    background-color: rgb(79,84,212);
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
}
.Left, .Right{
    border: none;
    margin: 5%;
}
legend{
    text-decoration-style: none;
    font-size: 2rem;
    font-weight: 700;
}
.Left legend{
    color: rgb(43,112,171);
    padding-top: 2%;
    margin-bottom: 2%;
}
.Right legend{
    color: rgb(249,245,255);
    padding-top: 2%;
    margin-bottom: 1%;
}
p select{
    width: 100%;
    border: none;
    background-color: #FFFFFF;
    border-bottom: 2px solid rgb(177, 177, 168);
    font-size: 1em;
    color: rgb(160, 153, 153);
    padding-bottom: 5px;
    outline: none;/*Pour enlever les bordures sur l'élément*/
    padding-left: 12px;
}
.Left > *{
    padding: 1%; 
}
.Paraname{
    margin-bottom: 2.5%;
}
.Business::placeholder, .Contry::placeholder,.FirstName::placeholder, .LastName::placeholder, .Company::placeholder, .Employees::placeholder, .Email::placeholder{
    color: rgb(177, 177, 168);
    padding-left: 12px;
}
.Additional:focus, .Contry:focus, .Street:focus, .Zipe:focus, .number:focus, .tel:focus, .Email:focus, .Business:focus, .FirstName:focus, .LastName:focus, .Company:focus, .Employees:focus, .Email:focus{
    outline: none;
    padding-left: 12px;
}
.Business, .FirstName, .LastName, .Company{
    width: 100%;
    border: none;
    background-color: #FFFFFF;
    border-bottom: 2px solid rgb(177, 177, 168);
    font-size: 1em;
    color: rgb(177, 177, 168);
    padding-bottom: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.FirstName, .Business{
    /* width: 60%; */
    width: 64%;
}
.LastName, .Employees{
    /* width: 35%;
    margin-left: 2.1%; */
    width: 30.9%;
    margin-left: 4.1%;
}
/* Seconde partie du formulaire*/
.Right > *{
    padding: 2%; 
}
.Place, .tel{
    width: 70%;
}
.Zipe, .number{
    width: 25%;
    margin-right: 4.1%;
}
.Additional::placeholder, .Contry::placeholder , .Street::placeholder, .Zipe::placeholder, .number::placeholder, .tel::placeholder, .Email::placeholder{
    color: white;
    padding-left: 12px;
}
.Additional::placeholder{
    letter-spacing: 0.8px;
}
.AcceptPara:nth-child(0n+2){
    color: rgb(255, 255, 255);
}
.Street, .Additional, .Zipe, .Place, .number, .tel, .Email, .Contry{
    border: none;
    background-color: rgb(79,84,212);;
    border-bottom: 2px solid rgb(177, 177, 168);
    color: white;
    padding-bottom: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.Street{
    width: 100%;
}
.Additional{
    width: 100%;
}
.AcceptPara{
    width: 60%;
    color: rgb(84,101,131);
    margin-top: 5px;
}
.AcceptPara .LabelAccept{
    color: white;
}
.Email{
    width: 100%;
}
.Right legend>*{
    border: none;
    background-color: rgb(79,84,212);
    border-bottom: 2px solid rgb(249,245,255);
    color: rgb(255, 255, 255);
    margin-bottom: 22%;
}
a{
    color: rgb(255, 255, 255);
}
#accept{
    /* Enlever les apparences par défaut*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    border: 7px solid white;
    border-radius: 50%;
}
#accept:focus {
    border: 2px solid white;
    padding: 4px;
}
#accept:checked {
    border: 3px solid rgb(79,84,212);
    background-color: white;
    padding: 5px;
    box-shadow: 0 0 0 0.1em rgb(235, 235, 235);/*Créer l'ombre sur le bouton radio*/
}
button{
    border: 3px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 3%;
    margin-top: 27px;
    margin-bottom: 0%;
}